* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.contenedor {
    max-width: 1300px;
    width: 96%;
    margin: 0 auto;
    border-radius: 16px;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: #122;
}
.header__titulo {
    color: #fff;
    font-size: 48px;
    padding: 10px;
}
.header__abrir, .header__cerrar {
    color: #fff;
    font-size: 36px;
    cursor: pointer;
    padding: 0 10px;
    border: 3px solid;
    border-radius: 4px;
    text-decoration: none;
    display: none;
}
.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.menu__link {
    color: #fff;
    font-size: 20px;
    padding: 15px;
    text-decoration: none;
}
.menu__link:hover {
    background: rgba(255,255,255,.3);
    border-radius: 16px;
}
main {
    display: flex;
    width: 100%;
}
.articulos {
    width: 70%;
    background: #344;
}
.articulo__titulo {
    font-size: 32px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.articulo__img {
    width: 100%;
    border: 3px solid #000;
}
.articulo__texto {
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    background: #233;
}
.sidebar__titulo {
    font-size: 32px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.sidebar__texto {
    font-size: 20px;
    color: #fff;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}
.footer {
    width: 100%;
    background: #122;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
}
.footer__texto {
    font-size: 20px;
    color: #fff;
}
.footer__img {
    width: 36px;
}
@media (max-width: 840px) {
    .header__abrir, .header__cerrar {
        display: inline-block;
    }
    .menu {
        position: absolute;
        top: 140px;
        left: 80px;
        z-index: 100;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        width: 70%;
        height: 70vh;
        background: #122;
        border-radius: 16px;
        transform: scale(0);
        transform-origin: 0 0;
        transition: all .5s;
    }
    
    .menu:target {
        transform: scale(1);
    }
    .articulos {
        width: 100%;
    }
    .sidebar {
        display: none;
    }
}
